.contents_wrap {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    .row {
        width: 100%;
        padding: 0 .8rem;
    }
}

#main_page {}

#login_page {}

#join_page {}

#profile_page {}

#article_page {}

#bookmark_page {}