.bookmark_component {
    display: flex;
    flex-wrap: wrap;
    .card_decorate {
        position: relative;
        width: 25%;
        padding: .8rem;
        // > span {
        //     display: inline-block;
        //     position: absolute;
        //     top: .8rem;
        //     right: 0.8rem;
        //     left: .8rem;
        //     font-weight: 700;
        //     background: rgba(0, 0, 0, .5);
        //     padding: .3rem .5rem;
        //     color: #FFF;
        //     white-space: nowrap;
        //     overflow: hidden;
        //     text-overflow: ellipsis;
        //     cursor: default;
        // }
    }
}